@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700&display=swap');

:root {
  --primary: #050018;
  --bg_color: #202020;
  --text_color: #dfbf0a;
  --text_color_secondary: #FD6A00;
}

* {
  margin: 0;
  padding: 9;
  box-sizing: border-box;
  color: var(--text_color);
  font-family: 'Hanuman', serif;
}

body {
  background-color: var(--primary);
}

.hover:hover {
  background-color: rgba(253, 106, 0, 0.5);
  cursor: pointer;
  transition: 180ms all ease;
}

.container {
  padding: 20px;
}

